table {
    text-align: center;

}

thead {
    background-color: aquamarine;
}

th {
    border: 1px solid black;
    padding: 3px;
}

td {
    border: 1px solid black;
    padding: 3px;
}
